{% extends "layout.html" %}

{% block body %}
  <section class="section">
    <div class="container">
      <form>
	      <div class="field">
		<label class="label">Entity Subject</label>
		<input id="subject" name="subject" class="input is-rounded" type="text" placeholder="Q42">
	      </div>
      </form>
    </div>
  </section>

{% if content is defined %}
  <section class="section">
    <div class="container">
      <p class="subtitle">Missing Properties for <a href="https://www.wikidata.org/wiki/{{content.subject}}">{{content.subject}}</a></p>
      <table class="table">
	<thead>
		<tr>
			<th><abbr title="Property">P</abbr></th>
			<th>Probability</th>
			<th>Label</th>
		</tr>
	</thead>
	<tbody>
		{% for p in content.missing_properties %}
		<tr>
			<th><a href="https://www.wikidata.org/wiki/Property:{{p.property}}">{{p.property}}</a></th>
			<td>{{p.predicted}}</td>
			<td>{{p.label}}</td>
		</tr>
		{% endfor %}
	</tbody>
      </table>
    </div>
  </section>
{% endif %}
{% endblock %}
