<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wiki2prop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/gh/mattmezza/bulmahead@master/dist/bulmahead.bundle.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
{% if error is defined %}
      <div class="notification is-danger is-light">
          {{error}}
      </div>
{% endif %}

      <h1 class="title">
	wiki2prop
      </h1>


  <section class="section">
    <div class="container">
        <div class="field">
           <div class="dropdown-trigger">
              <label class="label">Entity Subject</label>
              <input  autocomplete="off" id="subject" name="subject" class="input is-rounded" type="text" aria-haspopup="true" aria-controls="menu" placeholder="Johnny Depp (at least 3 letters)" autofocus>
          </div>
          <div class="dropdown-menu" id="menu" role="menu" />
          </div>
    </div>
  </section>
  <script>
     var api = function(inputValue) {
	     return fetch('https://www.wikidata.org/w/api.php?format=json&origin=*&action=wbsearchentities&limit=20&type=item&language={{content.lang}}&search='+inputValue).then(function(resp) {
        return resp.json()
      }).then(function(resp) {
        return resp.search.map(function(subject) {
          return {label: subject.label, description: subject.description, value: subject.id}
        })
      })
    }

    var onSelect = function(state) {
	    window.location.href = '?lang={{content.lang}}&subject='+state.value+'&title='+state.label;
    }
    bulmahead('subject', 'menu', api, onSelect);

  </script>


{% if content.subject is defined %}
  <section class="section">
    <div class="container">
	    <p class="subtitle">Missing Properties for <a href="https://www.wikidata.org/wiki/{{content.subject}}">{% if content.title is defined %} {{ content.title }} {% else %} {{ content.subject }} {% endif %}</a></p>
      <table class="table">
  <thead>
    <tr>
      <th><abbr title="Property">P</abbr></th>
      <th>Probability</th>
      <th>Label</th>
    </tr>
  </thead>
  <tbody>
    {% for p in content.missing_properties %}
    <tr>
      <th><a href="https://www.wikidata.org/wiki/Property:{{p.property}}">{{p.property}}</a></th>
      <td>{{p.predicted}}</td>
      <td>{{p.label}}</td>
    </tr>
    {% endfor %}
  </tbody>
      </table>
    </div>
  </section>
{% endif %}


  </body>
</html>
